---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: incusclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: IncusCluster
    listKind: IncusClusterList
    plural: incusclusters
    singular: incuscluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IncusCluster is the Schema for the incusclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: IncusClusterSpec defines the desired state of IncusCluster.
            properties:
              foo:
                description: Foo is an example field of IncusCluster. Edit incuscluster_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: IncusClusterStatus defines the observed state of IncusCluster.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
